<div class="w-auto vh-100">
  <app-navbar-before-login></app-navbar-before-login>
  <div
    class=" p-1 me-3 ms-3 min-vh-100 mb-5"
  >
    <div class="my-5">
        <h2 class="text-center mt-2">Τι είναι το Coding Factory</h2>
    </div>
    

    <div class="m-4 border p-4 shadow-lg rounded-4 fw-normal text-secondary">
      <p>
        Το Coding Factory είναι ένα
        <span class="fw-bold"
          >εκπαιδευτικό πρόγραμμα στην Ανάπτυξη Λογισμικού</span
        >
        του Κέντρου Δια Βίου Μάθησης του Οικονομικού Πανεπιστημίου Αθηνών (ΟΠΑ)
        και στη συνέχεια διασύνδεσης των αποφοίτων με συνεργαζόμενες
        επιχειρήσεις σε όλη την Ελλάδα. Η συνολική διάρκεια του προγράμματος
        είναι έξι (6) μήνες. Η έναρξη μαθημάτων της επόμενης σειράς είναι στις
        Μαρτίου 2025. Τα μαθήματα διεξάγονται καθημερινά Δευτέρα - Παρασκευή
        18.00 - 21.00.
      </p>

      <p>
        <span class="fw-bold">Η μέθοδος διδασκαλίας</span> περιλαμβάνει την
        διεξαγωγή του μαθήματος στην τάξη για όσους επιθυμούν και μπορούν να
        συμμετέχουν στην δια ζώσης εκπαίδευση και την
        <span class="fw-bold">ταυτόχρονη</span> διεξαγωγή του μαθήματος εξ’
        αποστάσεως μέσω της Ιδρυματικής Πλατφόρμας Microsoft Teams για όσους
        είτε επιθυμούν να παρακολουθούν και να συμμετέχουν στο μάθημα από το
        χώρο τους ή και για όσους δεν μπορούν να προσέρχονται δια ζώσης λόγω
        γεωγραφικών ή άλλων περιορισμών μιας και
        <span class="fw-bold"
          >το Coding Factory προσφέρεται σε εκπαιδευόμενους από όλη την
          Ελλάδα.</span
        >
      </p>

      <p>
        Σε συνεργασία με τo
        <span class="fw-bold"
          >Γραφείο Διασύνδεσης του Οικονομικού Πανεπιστημίου Αθηνών</span
        >, οι εκπαιδευόμενοι του Coding Factory θα έχουν πρόσβαση στην αγορά
        εργασίας και θα λαμβάνουν τις υπηρεσίες που προσφέρονται και στους
        φοιτητές/αποφοίτους προπτυχιακών και μεταπτυχιακών προγραμμάτων σπουδών
        του ΟΠΑ (π.χ. συμμετοχή στις ημέρες καριέρας) καθώς και επιπλέον
        εξειδικευμένες υπηρεσίες διασύνδεσης με επιχειρήσεις του κλάδου. Πιο
        συγκεκριμένα, οι εκπαιδευόμενοι του Coding Factory θα λαμβάνουν
        υπηρεσίες συμβουλευτικής καθοδήγησης μέσα από μία συνολική διαδικασία
        εκπαίδευσης και διασύνδεσης με την αγορά εργασίας.
      </p>

      <p>
        <span class="fw-bold">
          Το κοινό στο οποίο απευθύνεται το Coding Factory είναι:</span
        >
      </p>

      <ul>
        <li>
          Εκπαιδευόμενοι χωρίς πρότερη γνώση στον προγραμματισμό που προέρχονται
          από άλλα επαγγελματικά πεδία (π.χ. θετικών, οικονομικών, κοινωνικών
          επιστημών) που θα ήθελαν να αλλάξουν καριέρα (reskilling) και να
          ασχοληθούν επαγγελματικά με τον προγραμματισμό Η/Υ και την ανάπτυξη
          λογισμικού.
        </li>
        <li>
          Απόφοιτοι/επαγγελματίες πληροφορικής που θα ήθελαν να εξειδικεύσουν
          και να εμβαθύνουν τις γνώσεις τους στον προγραμματισμό (upskilling).
        </li>
      </ul>
      <p>
        <span class="fw-bold"> Οι απόφοιτοι του Coding Factory εργάζονται</span>
        σε επιχειρήσεις του κλάδου και συνεργάζονται με το Coding Factory ως
        μέντορες των νέων εκπαιδευομένων.
      </p>
    </div>

    <div class="my-5">
        <h2 class="text-center">Σύνδεση με την αγορά εργασίας</h2>
    </div>
    

    <div class="m-4 border p-4 shadow-lg rounded-4 fw-normal text-secondary">
      <p>
        <span class="fw-bold"
          >Το Γραφείο Διασύνδεσης του Οικονομικού Πανεπιστημίου Αθηνών</span
        >(ΟΠΑ) αποτελεί συνδετικό κρίκο μεταξύ της κοινότητας των φοιτητών και
        εκπαιδευομένων και του οικονομικού, επιχειρησιακού και κοινωνικού
        περιβάλλοντος. Ο αριθμός των συνεργαζόμενων εταιρειών και οργανισμών
        <span class="fw-bold"
          >είναι 1000 σε όλη την Ελλάδα και το εξωτερικό με σταθερά αυξητική
          τάση.</span
        >
      </p>

      <p>
        Με την ένταξή τους στο <span class="fw-bold">Coding Factory</span> οι
        εκπαιδευόμενοι θα έχουν πρόσβαση στις συνεργαζόμενες εταιρείες και
        οργανισμούς ενώ θα συμμετέχουν στις Ημέρες Καριέρας (Career Fair) τον
        Μάιο, στις Εκδηλώσεις Επαγγελματικού Προσανατολισμού (Business Days)
        καθώς και σε επιλεγμένες ημερίδες με τις εταιρείες/χορηγούς του Coding
        Factory.
      </p>

      <p>
        Το <span class="fw-bold">Γραφείο Διασύνδεσης του ΟΠΑ</span> είναι το
        μοναδικό γραφείο διασύνδεσης που λειτούργησε στην Ελλάδα αδιάλειπτα από
        το 1998 και το φάσμα των επιχειρήσεων με τις οποίες συνεργάζεται άμεσα
        περιλαμβάνει όχι μόνο εκατοντάδες επιχειρήσεις αλλά αξίζει να σημειωθεί
        ότι οι θέσεις εργασίας είναι ποιοτικές και αξιόπιστες, υψηλά αμειβόμενες
        και συναφείς με το αντικείμενο σπουδών.
      </p>

      <p>
        Ας μην ξεχνάμε επίσης, ότι οι εκπαιδευόμενοι θα πρέπει να έχουν
        επικοινωνιακές δεξιότητες, να επικοινωνούν με στελέχη, να συνεργάζονται
        και να αναλαμβάνουν ευθύνες. Αυτές οι δεξιότητες θα καλλιεργηθούν κατά
        τη διάρκεια της εκπαιδευτικής διαδικασίας και σε συνεργασία με τα
        στελέχη του Γραφείου Διασύνδεσης καθώς και στελέχη από επιχειρήσεις.
      </p>

      <p>
        Στο πλαίσιο του <span class="fw-bold">Προγράμματος Coding Factory </span> τα στελέχη του Γραφείου
        Διασύνδεσης θα παρέχουν Συμβουλευτικές Υπηρεσίες και θα ενημερώνουν για
        τις ημερίδες και εκδηλώσεις σταδιοδρομίας τους εκπαιδευόμενους, ενώ
        επίσης θα τους προετοιμάζουν για την είσοδό τους στην αγορά εργασίας
        μέσα από μία συνολική διαδικασία εκπαίδευσης και ένταξης στην αγορά
        εργασίας, όπου θα δίνεται η δυνατότητα στους εκπαιδευόμενους να έρχονται
        σε επαφή με επιχειρήσεις του κλάδου με στόχο είτε την πρακτική εργασία
        και στη συνέχεια την απασχόληση ή απευθείας απασχόληση μετά το πέρας των
        σπουδών τους. Τα στελέχη του Γραφείου Διασύνδεσης θα υποστηρίζουν τη
        διαδικασία διασύνδεσης μέχρι να επιτευχθεί ο στόχος.
      </p>
    </div>
  </div>

  <app-footer></app-footer>
</div>
