<footer class="footer-color ">
  <div class="d-flex gap-4 justify-content-evenly ">
    <div class="text-white mt-4">
      <p class="fs-5">SOCIAL MEDIA</p>
      <div class="d-flex flex-row gap-4">
        <span
          class="border border-primary text-center d-inline-block rounded-circle bg-primary"
        >
          <a href="https://www.facebook.com/auebcodingfactory" target="_blank" rel="noopener noreferrer" class="text-white">
            <i class="fa-brands fa-facebook m-1 fs-3"></i
          ></a>
        </span>

        <span class="insta-span">
            <a href="https://www.instagram.com/auebcodingfactory/" target="_blank" rel="noopener noreferrer" class="text-white">  
                <i class="fa-brands fa-instagram m-1 fs-3"></i>
            </a>
        </span>

        <span class="linkedin-span">
            <a href="https://www.linkedin.com/company/aueb-coding-factory/" target="_blank" rel="noopener noreferrer"  class="text-white">
                 <i class="fa-brands fa-linkedin-in m-1 fs-3"></i>
            </a>
         </span>


        <span class="twitter-span">
            <a href="https://x.com/auebcodingfacto" target="_blank" rel="noopener noreferrer"  class="text-white">
                <i class="fa-brands fa-twitter m-1 fs-3"></i>
            </a>
        </span>
      </div>
    </div>
    <div class="text-white mt-4">
      <p class="fs-5">ΕΠΙΚΟΙΝΩΝΙΑ</p>
      <div class="d-flex flex-column gap-2">
        <p class="hover-link">
          <i class="fa-solid fa-location-dot me-1" style="color: #fcfcfc"></i>
          <a
            href="https://www.google.com/maps/place/Kefallinias+46,+Athina+112+51/@37.9992651,23.7327741,17z/data=!3m1!4b1!4m6!3m5!1s0x14a1a2cec5f92fc1:0x59024e20136e3d8e!8m2!3d37.9992651!4d23.7327741!16s%2Fg%2F11cslfbnzk?entry=ttu&g_ep=EgoyMDI1MDUwNy4wIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none text-white"
          >
            Κεφαλληνίας 46, 6ος όροφος, 112 51 Αθήνα
          </a>
        </p>
        <p>
          <i class="fa-solid fa-phone me-1" style="color: #ffffff"></i>
          Αθανάσιος Ανδρούτσος, Επιστημονικός <br />
          Υπεύθυνος Προγράμματος, 210 8203913
        </p>
        <p>
          <i class="fa-solid fa-envelope me-1" style="color: #ffffff"></i>
          codingfactory&commat;aueb.gr
        </p>
      </div>
    </div>
  </div>

  <div class="bg-dark text-light d-flex justify-content-end align-items-center">
    <p class="m-3">
      Copyright &copy; 2025, <span class="text-info"> Coding Factory</span>
    </p>
  </div>
</footer>
