<div class="w-auto vh-100">
  <app-navbar-before-login></app-navbar-before-login>
  <div class="container mt-5 mb-5 border border-2">
    <div class="mt-5 mb-5 d-flex gap-2 justify-content-around">
      <h4 class="text-center">Ποιοί ειμαστέ</h4>
    
    </div>
    <div class="row">
      <div class="d-flex gap-4 shadow-lg p-2">
        <div>
          <img src="assets/images/IP_androutsos.jpg"  alt=""/>
        </div>
        <div>
          <h3>Αθανάσιος Ανδρούτσος</h3>
          <p class="fw-semibold text-secondary">
            PhD, Διδάσκων Τμ. Πληροφορικής, ΟΠΑ
          </p>
          <div>
            <p class="fw-semibold text-secondary">
              Είναι Διδάσκων του τμ. Πληροφορικής και του Προγράμματος Σπουδών
              της Αγωγής και της Εκπαίδευσης. Η έρευνά του είναι στα πεδία της
              Ανάπτυξης Εφαρμογών, των Δικτύων Υπολογιστών και της Εκπαιδευτικής
              Τεχνολογίας. Είναι πτυχιούχος Πληροφορικής ενώ κατέχει επίσης
              μεταπτυχιακές ειδικεύσεις στη Διοίκηση Πληροφοριακών Συστημάτων
              καθώς και στα Οικονομικά από τα Τμήματα Πληροφορικής και
              Οικονομικής Επιστήμης του Ο.Π.Α. Το 2009 αναγορεύτηκε Διδάκτορας
              του Ο.Π.Α. στα Οικονομικά των Δικτύων. Έχει διδάξει διάφορα θέματα
              στο χώρο της Πληροφορικής για πάνω από 20 έτη, έχει συμμετάσχει σε
              δεκάδες ερευνητικά έργα, έχει αναπτύξει ψηφιακά μαθήματα ενώ
              εργασίες του έχουν δημοσιευτεί σε γνωστά διεθνή περιοδικά όπως
              IEEE Selected Areas in Communications, International Journal of
              Network Management (Wiley) και συνέδρια όπως IEEE GLOBECOM. Είναι
              μέλος της IEEE.
            </p>
          </div>
        </div>
      </div>

      <div class="d-block gap-4 shadow-lg p-2 mt-5">
        <div class="d-flex align-items-center gap-2">
          <div class="">
            <img src="assets/images/IP_kapetis.jpg" alt="" class="w-100" />
          </div>
          <div>
            <h3>Χρυσόστομος Καπέτης</h3>

            <p class="fw-semibold text-secondary">PhD, Μέλος ΕΔΙΠ, ΟΠΑ</p>
          </div>
        </div>
        <div>
          <div>
            <p class="fw-semibold text-secondary ps-3">
              Μέλος του Εργαστηριακού Διδακτικού Προσωπικού (Ε.ΔΙ.Π) της Σχολής
              Επιστημών και Τεχνολογίας της Πληροφορίας του Οικονομικού
              Πανεπιστημίου Αθηνών. Στο Οικονομικό Πανεπιστήμιο προσφέρει
              διδακτικό έργο στα μαθήματα «Ανάλυση και Σχεδίαση Πληροφοριακών
              Συστημάτων» και «Βάσεις Δεδομένων» του Τμήματος Πληροφορικής. Επί
              σειρά ετών υπήρξε υπεύθυνος μηχανογράφησης της Βιβλιοθήκης του
              Οικονομικού Πανεπιστημίου Αθηνών της οποίας διετέλεσε και
              αναπληρωτής προϊστάμενος. Πρωτοστάτησε στη μηχανογράφηση της
              Βιβλιοθήκης του ΟΠΑ, με την αυτοματοποίηση του βιβλιογραφικού της
              καταλόγου και την εγκατάσταση συστήματος διαχείρισης
              βιβλιογραφικών βάσεων δεδομένων. Στη συνέχεια, συνέβαλε σημαντικά
              στη σχεδίαση και την υλοποίηση του ολοκληρωμένου πληροφοριακού
              συστήματος της Βιβλιοθήκης, το οποίο παρέχει σήμερα σύγχρονες και
              ολοκληρωμένες υπηρεσίες ηλεκτρονικής πληροφόρησης σε όλα τα μέλη
              της πανεπιστημιακής κοινότητας
            </p>
            <div>
              <p class="fw-semibold text-secondary ps-3">
                Διαθέτει μεγάλη εμπειρία στη σχεδίαση και ανάπτυξη πληροφοριακών
                συστημάτων και έχει προσφέρει σημαντικές υπηρεσίες στη
                μηχανογράφηση πολλών βιβλιοθηκών δημοσίων οργανισμών όπως της
                Προεδρίας της Δημοκρατίας, του Ιδρύματος Κωνσταντίνου Καραμανλή,
                του Κέντρου Προγραμματισμού και Οικονομικών Ερευνών, του Κέντρου
                Μελέτης και Έρευνας του Ελληνικού Θεάτρου Θεατρικού Μουσείου κ.α
              </p>
            </div>
            <div>
              <p class="fw-semibold text-secondary ps-3">
                Έχει διατελέσει μέλος του Τεχνικού Γνωμοδοτικού Συμβουλίου του
                Υπουργείου Διοικητικής Μεταρρύθμισης και Ηλεκτρονικής
                Διακυβέρνησης.
              </p>
            </div>

            <div>
              <p class="fw-semibold text-secondary ps-3">
                Τα ερευνητικά του ενδιαφέροντα εστιάζονται στο γνωστικό
                αντικείμενο των βάσεων δεδομένων και της ανάκτησης πληροφοριών.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-block gap-4 shadow-lg p-2 mt-5">
        <div class="d-flex align-items-center gap-2">
          <div class="">
            <img src="assets/images/IP_karampatsis.jpg" alt="" class="w-75"/>
          </div>
          <div>
            <h3>Μάρκος Καραμπάτσης</h3>

            <p class="fw-semibold text-secondary">
              PhD Candidate, Μέλος ΕΔΙΠ, ΕΜΠ
            </p>
          </div>
        </div>
        <div>
          <div>
            <p class="fw-semibold text-secondary ps-3">
              Ο Μάρκος Καραμπάτσης ανήκει στη κατηγορία του Ειδικού Διδακτικού
              Προσωπικού (ΕΔΙΠ) της Σχολής Ηλεκτρολόγων Μηχανικών και Μηχανικών
              Υπολογιστών του Εθνικού Μετσόβιου Πολυτεχνείου και εργάζεται στο
              Κέντρο Ηλεκτρονικών Υπολογιστών από το 2001. Είναι απόφοιτος του
              Τμήματος Πληροφορικής του Οικονομικού Πανεπιστημίου Αθηνών και
              κατέχει μεταπτυχιακό τίτλο σπουδών MSc in Information Systems από
              το Brunel University. Στα πλαίσια των καθηκόντων του στο Κέντρο
              Ηλεκτρονικών Υπολογιστών (ΚΗΥ), από το 2001, είναι η συμμετοχή του
              στην κάλυψη των βασικών αξόνων (τεχνικών και εκπαιδευτικών) στους
              οποίους κινείται το ΚΗΥ, επιγραμματικά αναφέρουμε: α) εκπαιδευτική
              και ερευνητική υποστήριξη της Ακαδημαϊκής Κοινότητας, μέσω της
              διαχειρίσεις ειδικών λογισμικών για μηχανικούς, β) ανάπτυξη
              ηλεκτρονικού υλικού διαδραστικής εκπαίδευσης καθώς και μαθημάτων
              τηλεκπαίδευσης για τα μαθήματα των Σχολών, γ) διαχείριση των
              Υπολογιστικών Συστημάτων (υλικού & λογισμικού) του ΚΗΥ και των
              Υπηρεσιών του, δ) τεχνική υποστήριξη της Ακαδημαϊκής Κοινότητας,
              στ) διαχείριση των τριών Διατμηματικών εργαστηρίων (Δ.Ε.Π.Υ. Α,
              Δ.Ε.Π.Υ. Β, Δ.Ε.Π.Υ. Γ, συνολικά 105 θέσεων εργασίας) για την
              οριζόντια κάλυψη των αναγκών σε αίθουσες διδασκαλίας, ε) ανάπτυξη
              εξειδικευμένων διαδικτυακών εφαρμογών για τις ανάγκες της έρευνας
              και της εκπαίδευσης στο ΕΜΠ. Το συγγραφικό του έργο περιλαμβάνει 1
              κεφάλαιο σε βιβλίο διεθνούς εκδοτικού οίκου, 3 άρθρα σε διεθνές
              συνέδρια (1 αναφορά από άλλους ερευνητές)
            </p>
           
            

           
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
