<div class="w-auto vh-100">
  <app-navbar-before-login></app-navbar-before-login>
  <div class="container-fluid shadow-lg d-flex ps-0 mb-4 mt-4 gap-4">
    <div class="">
      <app-side-bar></app-side-bar>
    </div>
    <div class="container-fluid pt-4  mt-4 mb-4 ms-4 shadow-lg d-flex align-items-center" >
      <div class="row d-md-flex d-sm-block text-center justify-content-around  gap-4 h-50">
        <div class="col-md-3 shadow-lg p-3 ">
          <h4>Επεξεργασία Mαθητών</h4>
          
          <p class="fw-semibold text-secondary pt-2">
           Ο ADMIN εχει την δυνατότητα να εισάγει , διαγράψει ή ενημερώσει εναν μαθητη.
          </p>
        </div>

        <div class="col-md-3 shadow-lg p-3">
          <h4>Επεξεργασια Καθηγητών</h4>
          <p class="fw-semibold text-secondary pt-2 ">
            Ο ADMIN εχει την δυνατότητα να εισάγει , διαγράψει ή ενημερώσει εναν καθηγητή.
          </p>
        </div>

        <div class="col-md-3 shadow-lg p-3">
          <h4>Επεξεργασια Users</h4>
          <p class="fw-semibold text-secondary pt-2">
            Ο ADMIN εχει την δυνατότητα να εισάγει , διαγράψει ή ενημερώσει εναν User.
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
