<div class="w-auto vh-100">
  <app-navbar-before-login></app-navbar-before-login>
  <h2 class="text-center mt-5 mb-5">Το Εκπαιδευτικό Πρόγραμμα</h2>
  <div class="container-fluid mt-5 rounded-3 ">
    <p class="fw-semibold text-secondary mt-2">
      Το Coding Factory είναι ένα καινοτόμο πρόγραμμα εκπαίδευσης στην ανάπτυξη
      Full-Stack εφαρμογών που δίνει έμφαση στον Προγραμματισμό, το Web και τις
      Βάσεις Δεδομένων. Περιλαμβάνει και τις τρεις παρακάτω ενότητες:
    </p>
    <div class="container-fluid">
      <div class="row align-items-center gap-4 mt-2 mb-5">
        <div class="col-lg-3 mx-auto border shadow-lg">
          <h3 class="mt-5 text-center">Προγραμματισμός</h3>
          <div>
            <p class="fw-semibold text-secondary mt-5">
              Η καρδιά του Coding Factory είναι ο κώδικας. Η ανάπτυξη λογισμικού
              θα κυριαρχήσει στην αγορά εργασίας τα επόμενα χρόνια. Κάθε
              εκπαιδευόμενος θα αναπτύξει τις αναγκαίες τεχνικές δεξιότητες ώστε
              να μπορεί να ανταποκριθεί στις απαιτήσεις της αγοράς εργασίας.
            </p>
          </div>
          <h5 class="fw-bold flex-start">JAVA</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              Δομημένος / Αντικειμενοστραφής Προγραμματισμός με τη γλώσσα Java
            </li>
            <li class="fw-semibold text-secondary">
              Προχωρημένα θέματα προγραμματισμού
            </li>
            <li class="fw-semibold text-secondary">
              Java ΕΕ: JSP/Servlets, Web Programming
            </li>
            <li class="fw-semibold text-secondary">
              Hibernate / Spring / Spring Boot / Thymeleaf
            </li>
          </ul>

          <h5 class="fw-bold flex-start">C# . NET Core</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              Αντικειμενοστραφής Προγραμματισμός με τη γλώσσα C# .NET Core
            </li>
          </ul>

          <h5 class="fw-bold flex-start">PYTHON</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              Προγραμματισμός με τη γλώσσα Python που χρησιμοποιείται ιδιαίτερα
              σε εφαρμογές Machine Learning και Data Science
            </li>
          </ul>

          <h5 class="fw-bold flex-start">ΜΕΘΟΔΟΛΟΓΙΕΣ / ΕΡΓΑΛΕΙΑ</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              Αλγόριθμοι και Δομές Δεδομένων
            </li>
            <li class="fw-semibold text-secondary">
              Αρχιτεκτονικές Ανάπτυξης Λογισμικού MVC / SOΑ / DAO / DTO
            </li>
            <li class="fw-semibold text-secondary">
              Συστήματα Διαχείρισης Εκδόσεων Λογισμικού Git / GitHub
            </li>
            <li class="fw-semibold text-secondary">
              Διαχείριση Εξαρτήσεων Λογισμικού (Dependencies) με Maven, Gradle
            </li>
            <li class="fw-semibold text-secondary">
              Συστήματα Ελέγχου Λογισμικού JUnit
            </li>
            <li class="fw-semibold text-secondary">
              Ολοκληρωμένα Περιβάλλοντας Ανάπτυξης Λογισμικού (IDEs) IntelliJ,
              Eclipse, Visual Studio, Visual Studio Code
            </li>
            <li class="fw-semibold text-secondary">Σχεδιασμός με UML</li>
            <li class="fw-semibold text-secondary">
              Design Patterns (Καλές πρακτικές προγραμματισμού)
            </li>
          </ul>
        </div>

        <div class="col-lg-3 mx-auto border shadow-lg">
          <h3 class="mt-5 text-center">Web</h3>
          <div>
            <p class="fw-semibold text-secondary mt-5">
              Η δυνατότητα των επιχειρήσεων για καινοτομία ιδιαίτερα στο Web
              είναι θεμελιώδης ανάγκη στη σημερινή ψηφιακή αγορά. Οι
              εκπαιδευόμενοι θα πρέπει να εξοικειωθούν με τα εργαλεία και της
              μεθοδολογίες ανάπτυξης εφαρμογών στο Web, σχεδιασμού και ελέγχου
              της εμπειρίας των χρηστών (UX)
            </p>
          </div>
          <h5 class="fw-bold flex-start">WEB DEVELOPMENT</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              Web Development με HTML/CSS
            </li>
            <li class="fw-semibold text-secondary">HTML DOM</li>
            <li class="fw-semibold text-secondary">jQuery</li>
            <li class="fw-semibold text-secondary">AJAX</li>
            <li class="fw-semibold text-secondary">Bootstrap</li>
          </ul>

          <h5 class="fw-bold flex-start">JAVASCRIPT</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              Προγραμματισμός στο Web με τη JavaScript
            </li>
          </ul>

          <h5 class="fw-bold flex-start">React</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              Προγραμματισμός Web Διεπαφών με React
            </li>
          </ul>

          <h5 class="fw-bold flex-start">TYPESCRIPT / ANGULAR</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              Προγραμματισμός Web Διεπαφών με TypeScript και Angular
            </li>
          </ul>

          <h5 class="fw-bold flex-start">UX/UI DESIGN</h5>
          <ul>
            <li class="fw-semibold text-secondary">UX (User Experience)</li>
            <li class="fw-semibold text-secondary">User Personas</li>
            <li class="fw-semibold text-secondary">Journey Maps</li>
            <li class="fw-semibold text-secondary">Usability Tests</li>
            <li class="fw-semibold text-secondary">
              Συστήματα Ελέγχου Λογισμικού JUnit
            </li>
            <li class="fw-semibold text-secondary">Lean UX</li>
          </ul>

          <h5 class="fw-bold flex-start">CMS (Content Management Systems)</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              Εργαλεία Διαχείρισης Ολοκληρωμένων Εφαρμογών με Drupal
            </li>
          </ul>
        </div>

        <div class="col-lg-3 mx-auto border shadow-lg">
          <h3 class="mt-5 text-center">Βάσεις Δεδομένων</h3>
          <div>
            <p class="fw-semibold text-secondary mt-5">
              Οι Βάσεις Δεδομένων είναι απαραίτητες στον ψηφιακό κόσμο. Πως
              αποθηκεύεται η πληροφορία σε μόνιμα μέσα αποθήκευσης, αλλά και πως
              μπορούμε να καλλιεργήσουμε γενικές δεξιότητες που ζητούν οι
              επιχειρήσεις;
            </p>
          </div>
          <h5 class="fw-bold flex-start">ΣΥΣΤΗΜΑΤΑ ΒΑΣΕΩΝ ΔΕΔΟΜΕΝΩΝ</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              Web Development με HTML/CSS
            </li>
            <li class="fw-semibold text-secondary">Προγραμματισμός Βάσεων Δεδομένων με τη γλώσσα SQL</li>
            <li class="fw-semibold text-secondary">Συστήματα διαχείρισης σχεσιακών Βάσεων Δεδομένων με MS SQL Server, MySQL, H2 Database</li>
            <li class="fw-semibold text-secondary">NoSQL Databases (Firebase / MongoDB)</li>
          </ul>

          <h5 class="fw-bold flex-start">ΔΙΑΣΥΝΔΕΣΗ ΒΑΣΕΩΝ ΔΕΔΟΜΕΝΩΝ</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              JDBC (Java Database Connectivity), ODBC (Open Database Connectivity)
            </li>
             <li class="fw-semibold text-secondary">
              Συστήματα ORM (Object-Relational Mapping) 
            </li>
          </ul>

          <h5 class="fw-bold flex-start">BIG DATA</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              Διαχείριση μεγάλων δεδομένων (Big Data) με αποδοτικό τρόπο με την MongoDB
            </li>
          </ul>

          <h5 class="fw-bold flex-start">ΠΡΩΤΟΚΟΛΛΑ ΕΠΙΚΟΙΝΩΝΙΑΣ / WEB SERVICES</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              HTTP (Hypertext Transfer Protocol)
            </li>

            <li class="fw-semibold text-secondary">
              REST (Representational State Transfer)
            </li>

            <li class="fw-semibold text-secondary">
              Web Services
            </li>
          </ul>

          <h5 class="fw-bold flex-start">ΣΥΓΧΡΟΝΕΣ ΜΕΘΟΔΟΛΟΓΙΕΣ ΚΑΙ ΕΡΓΑΛΕΙΑ</h5>
          <ul>
            <li class="fw-semibold text-secondary">Ολοκληρωμένα συστήματα διαχείρισης με Agile / DevOps</li>
          </ul>

          <h5 class="fw-bold flex-start">ΓΕΝΙΚΕΣ ΔΕΞΙΟΤΗΤΕΣ</h5>
          <ul>
            <li class="fw-semibold text-secondary">
              Επικοινωνιακές Δεξιότητες / Διαχείριση Χρόνου / Συνεργασία / Δημιουργικότητα / Καινοτομία
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
