<nav class="navbar navbar-expand-xxl d-flex flex-column  border border-2 border-white rounded-5 mt-3 w-30">
    <span class="navbar-brand ps-3 text-white">Admin</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        <ul class="navbar-nav  d-flex flex-column gap-5 align-items-center ">
            <div class="w-100 shadow-lg text-center my-div">
                <li class="nav-item active d-block ">
                    <a class="nav-link fs-5 "
                    routerLink="/admin"
                    >Home</a>
                </li>
            </div>

            <div class="w-100 shadow-lg text-center my-div">
                <li class="nav-item active d-block">
                    <a class="nav-link fs-5"
                    routerLink="/admin-user"
                    >Users</a>
                </li>
            </div>

             <!-- <div class="w-100 shadow-lg text-center my-div">
                <li class="nav-item active d-block">
                    <a class="nav-link fs-5"
                    routerLink="/admin-students"
                    >Μαθητές</a>
                </li>
            </div> -->

            <div class="w-100 shadow-lg text-center my-div">
                <li class="nav-item active d-block">
                    <a class="nav-link fs-5"
                    routerLink="/admin-teachers"
                    >Καθηγητές</a>
                </li>
            </div>
        </ul>
    </div>

</nav>



