<h2 mat-dialog-title>Ενημέρωση Καθηγητή</h2>
<mat-dialog-content>
  <label>Όνομα:</label>
  <input [(ngModel)]="teacher.firstname" type="text" class="form-control">

  <label>Επώνυμο:</label>
  <input [(ngModel)]="teacher.lastname" type="text" class="form-control">

  <label>Πόλη:</label>
  <input [(ngModel)]="teacher.city" type="text" class="form-control">

  <label>Ηλικία:</label>
  <input [(ngModel)]="teacher.age" type="number" class="form-control">

  <label>Βιογραφικό:</label>
  <textarea [(ngModel)]="teacher.cv" class="form-control" rows="5"></textarea>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-between">
  <button mat-button class="btn btn-success" (click)="save()">Αποθήκευση</button>
  <button mat-button class="btn btn-danger" (click)="close()">Έξοδος</button>
</mat-dialog-actions>
